html {
  height: 100%;
}

body {
  background: white;
  line-height: 1.4;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
  background: #23b849;
  height: 2.6em;
  text-align: center;
  width: 100%;
}

.icon-current {
  background: none;
  border: none;
  float: left;
  height: 100%;
  padding: 0;
  width: 40px;
}

.icon-current img {
  vertical-align: bottom;
}

h1 {
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 1px #0a8a25;
}

.map {
  bottom: 2.6em;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.6em;
}

.footer {
  background: #22b447;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > li {
  float: left;
  width: 25%;
}

.btn {
  border: none;
  color: #fff;
  line-height: 2.6em;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
  width: 100%;
}

.btn[data-is-active="true"] {
  font-weight: bold;
  background-image: -webkit-radial-gradient(rgba(256, 256, 256, .25), rgba(0, 0, 0, 0));
  background-image: -moz-radial-gradient(rgba(256, 256, 256, .25), rgba(0, 0, 0, 0));
  background-image: -radial-gradient(rgba(256, 256, 256, .25), rgba(0, 0, 0, 0));
}

.btn[data-type="PILAS"] {
  background-color: rgba(183, 23, 46, 1);
}

.btn[data-type="LATA"] {
  background-color: rgba(127, 24, 89, 1);
}

.btn[data-type="VIDRIO"] {
  background-color: rgba(193, 146, 20, 1);
}

.btn[data-type="PLASTICO"] {
  background-color: rgba(25, 59, 136, 1);
}