html {
  height: 100%;
}

body {
  background: white;
  line-height: 1.4;
  height: 100%;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
  background: #23b849;
  height: 2.6em;
  position: relative;
  text-align: center;
  width: 100%;
}

.icon {
  background: none;
  border: none;
  height: 100%;
  padding: 0;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
  top: 0;
  width: 40px;
}

.icon-initial {
  left: 0;
}

.icon-initial img {
  vertical-align: bottom;
}

.icon-info {
  right: 0;
}

.icon-info i {
  background: #fff;
  border-radius: 11px;
  color: #23b849;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  vertical-align: baseline;
  width: 22px;
}

.icon-info:active i {
  box-shadow: #fff 0 0 4px;
}

h1 {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 0;
  text-shadow: 1px 1px 1px #0a8a25;
}

h2, h3, h4 {
  color: #23b849;
  text-transform: uppercase;
}

h5 {
  color: #5e5e5e;
  text-transform: uppercase;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.map {
  bottom: 2.6em;
  left: 0;
  position: absolute;
  right: 0;
  top: 2.6em;
}

.page {
  background: #fff;
  bottom: 0;
  left: 100%;
  overflow: hidden;
  padding: 0 1em;
  position: absolute;
  right: 0;
  top: 2.6em;
  -webkit-transition: left .5s;
  -moz-transition: left .5s;
  -ms-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
  z-index: 2;
}

.page article {
  border-top: 1px solid #5e5e5e;
}

.page article:first-child {
  border-top: none;
}

.page-active {
  left: 0;
  overflow-y: scroll;
}

.logo-data {
  vertical-align: text-bottom;
}

.footer {
  background: #22b447;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > li {
  float: left;
  width: 25%;
}

.btn {
  border: none;
  color: #fff;
  line-height: 2.6em;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: center;
  width: 100%;
}

.btn[data-is-active="true"], .btn-active {
  font-weight: bold;
  background-image: -webkit-radial-gradient(rgba(256, 256, 256, .4), rgba(0, 0, 0, 0));
  background-image: -moz-radial-gradient(rgba(256, 256, 256, .4), rgba(0, 0, 0, 0));
  background-image: -radial-gradient(rgba(256, 256, 256, .4), rgba(0, 0, 0, 0));
}

.btn[data-type="PILAS"] {
  background-color: rgba(183, 23, 46, 1);
}

.btn[data-type="LATA"] {
  background-color: rgba(127, 24, 89, 1);
}

.btn[data-type="VIDRIO"] {
  background-color: rgba(193, 146, 20, 1);
}

.btn[data-type="PLASTICO"] {
  background-color: rgba(25, 59, 136, 1);
}